.domainInfoContainer {
  /* margin-top: -13rem; */
  margin: 0 1rem;
}
.domainInfoContainer textarea:focus {
}
.domainAbout {
  width: calc(100% - 2rem);
  color: rgba(0, 0, 0, 0.87);
  animation: opening 1s ease forwards;
  margin: 1rem auto;
  margin-top: 1.7rem;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
  display: flex;
  /* padding: 2rem 1.7rem; */
  /* padding-bottom: 2rem; */
  gap: 2rem;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  border: 0px solid rgba(0, 0, 0, 0.125);
  /* border-radius: 1rem; */
  /* align-items: center; */
  box-shadow: rgb(0 0 0 / 10%) 0rem 1.25rem 1.6875rem 0rem;
}
.card {
  color: rgba(0, 0, 0, 0.87);
  margin: 1rem;
  margin-bottom: 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 10%) 0rem 1.25rem 1.6875rem 0rem;
}
.domainInfo {
  opacity: 0;
  display: flex;
  margin: auto;
  /* transform: translateY(40%); */
  animation: opening 1s 0.2s ease forwards;
}
.domainInfo h4 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 0.8em;
  text-transform: uppercase;
}
.currentYearSalaryInfo,
.currentYearJobInfo {
  padding: 1rem 0.5rem;
}
.currentYearSalaryInfo > div,
.currentYearJobInfo > div {
  display: flex;
  justify-content: space-evenly;
}
.currentYearSalaryInfo > h3,
.currentYearJobInfo > h3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin-top: 10px;
  text-align: center;
  /* padding-left: 14px; */
  line-height: 1.5555555555555556;
}
.currentYearSalaryInfo > div > div > div,
.currentYearJobInfo > div > div > div {
  color: #59ce61;
  font-size: 25px;
}
.left,
.right {
  width: 50%;
  padding-bottom: 1rem;
}
.skillsRequired {
  padding: 1rem;
  padding-top: 0.4rem;
}
.skillsRequired > div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.skillsRequired > h3 {
  margin-left: 5px;
}
.chip {
  background: rgb(86 86 86 / 10%);
  margin: 5px;
  text-align: center;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  padding: 10px 15px;
  text-align: center;
  width: fit-content;
}
.domainImage {
  padding: 1rem;
}
.domainImage img {
  border-radius: 0.2rem;
  width: 450px;
  height: 300px;
  /* box-shadow: rgb(0 0 0 / 10%) 0rem 1.25rem 1.6875rem 0rem; */
  object-fit: cover;
}
.domainAbout h1 {
  font-size: 35px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 500;
  /* text-transform: uppercase; */
}
.domainDesc {
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 1.6;
  padding: 0 2rem 2rem 0;
  /* margin-top: 1rem; */
}
@keyframes opening {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1000px) {
  .domainAbout {
    flex-direction: column;
  }
  .domainImage img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .domainImage img {
    height: 250px;
  }

  .domainAbout h1 {
    margin: 10px 0;
    font-size: 40px;
    text-align: center;
  }
  .domainInfoContainer {
    margin-top: 1rem;
  }
}
@media (max-width: 1000px) {
  .domainAbout {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .domainAbout {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .domainAbout {
    width: 100%;
    box-shadow: none;
    font-size: 0.9rem;
    border-radius: 0;
  }
  .domainInfoContainer {
    padding: 0;
    width: 100%;
    position: absolute;
    top: 61px;
    margin-top: 0;
  }
}
